/* Icon + City Names Box */
button {
    background-color: #9c7e70;
    border: none;
    width: 100%;
    color: white;
    padding: 10px 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
    font-family: 'Georgia';
}

/* plain bg color above image */
#container {
    background-color: rgb(215, 210, 202, .8);
    padding: 0px 30px;
    min-height: 100vh;
    width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-width: 0px 15px;
    border-style: double;
    border-color: #725245;
}

/* Create my trip button */
#trip {
    border: 2px solid #9c7e70;
    background-color: #c3b1a5;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
    font-family: 'Georgia';
    width: 30%;
}

/* Ignore - hidden - for subtitle */
.header {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #4a4a4a;
    margin-top: 10px;
}

/* Ignore - hidden - for searching a specific city */
input[type="number"] {
    padding: 3px 5px 8px;
    border: 2px solid #725245;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    margin-top: 10px;
    font-family: 'Georgia';
    color: #725245;
    background-color: white;
}